@import "ui-variables";
@import "ui-mixins";

#account-sidebar {
  order: 1;
  height: 100%;
  background-color: @source-list-bg;

  section {
    padding-bottom: @padding-base-vertical;
  }

  .heading {
    color: @text-color-very-subtle;
    font-weight: @font-weight-semi-bold;
    font-size: @font-size-small;
    padding-left:@padding-small-horizontal;
    padding-top:@padding-small-horizontal;
  }

  .item {
    color: @text-color-subtle;
    img.content-mask { background-color: @text-color-subtle; }
    font-size: @font-size-small;
    font-weight: 400;
    padding: 0 @spacing-standard;
    line-height: @line-height-large * 1.1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .unread {
      font-weight: @font-weight-medium;
      color: @source-list-active-bg;
      background: @source-list-active-color;
      padding-top:@padding-small-vertical * 0.6;
      padding-bottom:@padding-small-vertical * 0.6;
      margin-left:@padding-small-horizontal;
    }
    .name {
      text-transform: capitalize;
      margin-left: @padding-xs-horizontal;
      position:relative;
      top:1px;
    }
    &.selected {
      background: @source-list-active-bg;
      color: @source-list-active-color;
      img.content-mask { background-color: @source-list-active-color; }
    }

    &:hover {
      cursor: default;
    }
  }

  .item-divider {
    color:#586870;
    padding-top: 1em;
    padding-bottom: 0.25em;
  }
}
