@import "ui-variables";

.quoted-text-control {
  color: @text-color-very-subtle;
  display: inline-block;
  border: 1px solid fade(@text-color-very-subtle, 15%);
  border-radius: 3px;
  line-height: 10px;
  padding: 6px 10px;
  font-weight: 600;
  font-size: @font-size-smaller;

  &.no-quoted-text {
    display:none;
  }

  &:hover {
    cursor: pointer;
    color: @text-color-subtle;
    border: 1px solid fade(@text-color-subtle, 35%);
  }

  &:before {
    content:'\2022\2022\2022';
    font-size: @font-size-smaller * 0.8;
    top:-1px;
    position:relative;
    padding-right:8px;
  }
  &.show-quoted-text:after {
    content:'Hide previous';
  }
  &:after {
    content:'Show previous';
  }
}
