@import "ui-variables";

.nylas-modal-container {
  position: absolute;
  z-index: 40;

  .modal {
    position: absolute;
    background-color: @background-primary;
    border-radius: @border-radius-base;
    box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.15), 0 -0.5px 0 rgba(0, 0, 0, 0.15), 0.5px 0 0 rgba(0, 0, 0, 0.15), -0.5px 0 0 rgba(0, 0, 0, 0.15), 0 4px 7px rgba(0,0,0,0.15);
  }
}

body.platform-win32 {
  .modal {
    border-radius: 0;
  }
}