@import "ui-variables";
@header-color: #afafaf;

.popover-container {
  display:inline-block;
  position:relative;
  white-space: nowrap; // prevent dropdown arrow from wrapping when space constrained
}

.popover {
  background-color: @background-secondary;
  border-radius: @border-radius-base;
  box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.15), 0 -0.5px 0 rgba(0, 0, 0, 0.15), 0.5px 0 0 rgba(0, 0, 0, 0.15), -0.5px 0 0 rgba(0, 0, 0, 0.15), 0 4px 7px rgba(0,0,0,0.15);

  min-width: 200px;

  .menu {
    z-index:1;
    position: relative;
    .content-container {
      background: none;
    }
    .header-container {
      border-top-left-radius: @border-radius-base;
      border-top-right-radius: @border-radius-base;
      background: none;
      color: @header-color;
      font-weight: bold;
      border-bottom: none;
      overflow: hidden;
      padding: @padding-base-vertical * 1.5  @padding-base-horizontal;
    }
    .footer-container {
      border-bottom-left-radius: @border-radius-base;
      border-bottom-right-radius: @border-radius-base;
      background: none;

      .item:last-child:hover {
          border-bottom-left-radius: @border-radius-base;
          border-bottom-right-radius: @border-radius-base;
      }
    }

  }
  input[type=text] {
    border: 1px solid darken(@background-secondary, 10%);
    border-radius: 3px;
    background-color: @background-primary;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.05);
    color: @text-color;

    &.search {
      padding-left: 0;
      background-repeat: no-repeat;
      background-image: url("../static/images/search/searchloupe@2x.png");
      background-size: 15px 15px;
      background-position: 7px 4px;
      text-indent: 31px;
    }
  }
}

.popover-pointer {
  -webkit-mask-image: url('images/tooltip/tooltip-bg-pointer@2x.png');
  background-color: @background-secondary;
}
.popover-pointer.shadow {
  -webkit-mask-image: url('images/tooltip/tooltip-bg-pointer-shadow@2x.png');
  background-color: fade(@black, 22%);
}

body.platform-win32 {
  .popover {
    border-radius: 0;
  }
  .menu {
    .header-container,
    .footer-container {
      border-radius: 0;
    }
  }
}
