@import "ui-variables";

.popover-container {
  display:inline-block;
  position:relative;
}

.popover {
  width: 250px;
  max-height:400px;
  background-color: @background-color;
  border-radius: @border-radius-base;
  box-shadow: 0 4px 30px rgba(0,0,0,0.19), inset 0 0 1px rgba(0,0,0,0.5);

  .menu {
    z-index:1;
    position: relative;
    .content-container {
      background: none;
    }
    .header-container {
      border-top-left-radius: @border-radius-base;
      border-top-right-radius: @border-radius-base;
      background: none;
    }
    .footer-container {
      border-bottom-left-radius: @border-radius-base;
      border-bottom-right-radius: @border-radius-base;
      background: none;

      .item:last-child:hover {
          border-bottom-left-radius: @border-radius-base;
          border-bottom-right-radius: @border-radius-base;
      }
    }
  }

  .popover-pointer {
    -webkit-mask-image: url('images/tooltip/tooltip-bg-pointer@2x.png');
    background-color: @background-color;
  }
}
