@font-face {
  font-family: "Nylas-FaktPro", "Helvetica", 'Lucida Grande', 'Segoe UI';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/Fakt/Nylas-FaktPro-Thin.otf'), local('Comic Sans MS');
}
@font-face {
  font-family: "Nylas-FaktPro", "Helvetica", 'Lucida Grande', 'Segoe UI';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Fakt/Nylas-FaktPro-Blond.otf'), local('Comic Sans MS');
}
@font-face {
  font-family: "Nylas-FaktPro", "Helvetica", 'Lucida Grande', 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Fakt/Nylas-FaktPro-Normal.otf'), local('Comic Sans MS');
}
@font-face {
  font-family: "Nylas-FaktPro", "Helvetica", 'Lucida Grande', 'Segoe UI';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/Fakt/Nylas-FaktPro-Medium.otf'), local('Comic Sans MS');
}
@font-face {
  font-family: "Nylas-FaktPro", "Helvetica", 'Lucida Grande', 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/Fakt/Nylas-FaktPro-SemiBold.otf'), local('Comic Sans MS');
}
@font-face {
  font-family: 'Nylas-FaktPro';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/Fakt/Nylas-FaktPro-Normal.otf'), local('Comic Sans MS');
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nylas-FaktPro", "Helvetica", 'Lucida Grande', 'Segoe UI', sans-serif;
  line-height: 1.1;
  color: #434648;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
  line-height: 1;
}
h1 {
  font-size: 24px;
  font-weight: 600;
}
h2 {
  font-size: 24px;
  font-weight: 300;
}
h3 {
  font-size: 25.5px;
}
h4 {
  font-size: 18.75px;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 12.75px;
}
h1,
h2,
h3 {
  margin-top: 22px;
  margin-bottom: 11px;
}
h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 65%;
}
h4,
h5,
h6 {
  margin-top: 11px;
  margin-bottom: 11px;
}
h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small {
  font-size: 75%;
}
a {
  color: #419bf9;
}
a:hover {
  color: #3187e1;
  cursor: pointer;
}
a:active {
  color: #3187e1;
}
a:visisted {
  color: #3187e1;
}
p {
  margin: 0 0 11px;
}
.lead {
  margin-bottom: 22px;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
}
small,
.small {
  font-size: 93%;
}
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: rgba(35, 31, 32, 0.8);
}
.text-primary {
  color: #419bf9;
}
a.text-primary:hover {
  color: #1081f7;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #419bf9;
}
a.bg-primary:hover {
  background-color: #1081f7;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 11px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 22px;
}
dt,
dd {
  line-height: 1.5;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #77828d;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 11px 22px;
  margin: 0 0 22px;
  border-left: 5px solid #f6f7f8;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.5;
  color: #77828d;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #f6f7f8;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
address {
  margin-bottom: 22px;
  font-style: normal;
  line-height: 1.5;
}
