{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "extends": ["react-app", "prettier", "prettier/react"],
  "globals": {
    "NylasEnv": false,
    "$n": false,
    "waitsForPromise": false,
    "advanceClock": false,
    "TEST_ACCOUNT_ID": false,
    "TEST_ACCOUNT_NAME": false,
    "TEST_ACCOUNT_EMAIL": false,
    "TEST_ACCOUNT_ALIAS_EMAIL": false
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "settings": {
    "import/core-modules": [
      "nylas-exports",
      "nylas-component-kit",
      "electron",
      "nylas-store",
      "nylas-observables"
    ],
    "import/resolver": {
      "node": { "extensions": [".es6", ".jsx", ".coffee", ".json", ".cjsx", ".js"] }
    }
  }
}
