##### Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

##### Arcanist / Phab
**/.arcconfig
**/.arclint
**/arclib

##### Client Private Plugins (symlinked)
**/client-app/src/error-logger-extensions
**/client-app/src/nylas-private-*
**/internal_packages/nylas-private-*
**/internal_packages/activity-list
**/internal_packages/composer-mail-merge
**/internal_packages/composer-scheduler
**/internal_packages/isomorphic-core
**/internal_packages/link-tracking
**/internal_packages/open-tracking
**/internal_packages/send-later
**/internal_packages/send-reminders
**/internal_packages/thread-sharing
**/internal_packages/client-sync

##### Node modules
node_modules
!packages/client-app/spec/fixtures/packages/package-with-incompatible-native-module/node_modules
**/npm-debug.log*
**/lerna-debug.log*

##### Certs for building
**/build/resources/certs

##### Misc swap files
**/*.swp
**/*.swo
**/*~
**/*#
**/.DS_Store
**/Thumbs.db
**/#emacs

# Built cloud files
n1_cloud_dist

# Built Nylas Mail client
packages/client-app/dist

# Tests
spec-saved-state.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
