.arcconfig
.arclint
arclib
*.swp
*~
.DS_Store
Thumbs.db
.project
.svn
.nvm-version
node_modules
npm-debug.log
debug.log
/tags
/electron/
docs/output
docs/includes
spec/fixtures/evil-files/
build/resources/certs
/_site
/.sass-cache
.integration-test-config
.idea/
spec-saved-state.json

!spec/fixtures/packages/package-with-incompatible-native-module/node_modules

#emacs
*~
*#

src/error-logger-extensions
src/nylas-private-*
internal_packages/nylas-private-*
internal_packages/activity-list
internal_packages/composer-mail-merge
internal_packages/composer-scheduler
internal_packages/link-tracking
internal_packages/open-tracking
internal_packages/send-later
internal_packages/send-reminders
internal_packages/thread-sharing
internal_packages/local-sync
/dist
/dump.rdb
