@import "ui-variables";

.autoload-images-header {
  background-color: mix(@background-primary, #FFCC11, 80%);
  border: 1px solid darken(mix(@background-primary, #FFCC11, 50%), 25%);
  color: mix(@text-color-subtle, #FFCC11, 40%);
  margin: @padding-base-vertical 0;
  padding: @padding-base-vertical @padding-base-horizontal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .option {
    color: fade(mix(@text-color-subtle, #FFCC11, 80%), 70%);
  }
  .option:hover {
    color: mix(@text-color-subtle, #FFCC11, 80%);
  }
}
