@import 'ui-variables';

.mode-toggle {
    z-index: 1000;
    position: relative;
    padding-top:4px;
    .content-mask {
      background-color: @text-color-subtle;
    }
}
.mode-toggle.mode-false {
  .content-mask {
    background-color: @component-active-color;
  }
}
