// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "ui-mixins";
@import "buttons";

.composer-full-window {
  width: 100%;
  height: 100%;

  .composer-outer-wrap {
    width: 100%;
    height: 100%;
  }

  .composer-inner-wrap {
    padding-top: @spacing-standard;
    .compose-body {
      margin-bottom: 0;
      position: relative;

      .contenteditable-container {
        display: flex;
        flex: 1;
        width: 100%;

        div[contenteditable] {
          height: auto;
          flex: 1;
        }
      }
    }

    .composer-header { display: none; }
  }

  .composer-header-and-body-wrap, .compose-footer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}

.floating-toolbar {
  z-index: 10;
  position: absolute;
  background: @background-color-accent;
  border-radius: 2px;
  color: @text-color-inverse;

  .toolbar-pointer {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    top: -13px;
    left: 50%;
    margin-left: -6px;
    border: 7px solid transparent;
    border-bottom-color: @background-color-accent;
    border-bottom-width: 6px;
  }

  .floating-toolbar-input {
    display: inline;
    width: auto;
    color: @text-color-inverse;
    position: relative;
    top: 1px;
  }

  @padding: 0.5em;
  .btn {
    background: transparent;
    font-size: 16px;
    height: auto;
    border-radius: 0;
    padding: @padding*0.75 @padding;
    margin: 0;
    color: rgba(255,255,255, 0.6);
    box-shadow: none;
    &:first-child {
      padding-left: 1.5*@padding;
    }
    &:last-child {
      padding-right: 1.5*@padding;
    }
    &:hover, &:active {
      color: rgba(255,255,255, 1);
      background: transparent;
    }
  }

  .preview-btn-icon {
    position: relative;
    top: 1px;
    padding: 0 @padding;
  }
}

#message-list {
  .message-item-wrap.composer-outer-wrap {
    &:last-child { padding-bottom: 0; }
  }
  .composer-header-and-body-wrap, .compose-footer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}

.composer-header-and-body-wrap {
  height: 100%;
}
.composer-header-and-body {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.composer-inner-wrap {
  height: 100%;
  padding-bottom: 65px;
  position: relative;

  a:hover {
    cursor: pointer;
  }

  .composer-header-and-body {
    position: relative;

    .tokenizing-field.to {
      padding-right: 60px;
    }
  }

  .composer-header {
    padding: 11px 15px 5px 15px;

    .composer-title {
      display: inline-block;
      font-weight:@headings-font-weight;
    }
  }

  .header-action {
    color: @text-color-very-subtle;
    font-size: @font-size-small;
  }

  .composer-participant-actions {
    position: absolute;
    z-index: 900;
    right: @spacing-standard;
    .header-action {
      position: relative;
      top: 1em;
    }
  }

  .composer-header-actions {
    float: right;
  }

  .header-action {
    padding-left: 1em;
    &:hover {
      color: @text-color-link;
      cursor: pointer;
    }
  }

  input, textarea, div[contenteditable] {
    position: relative;
    z-index: 1;
    display: block;
    background: inherit;
    width: 100%;
    resize: none;
    border: none;
  }

  .compose-toolbar-wrap {
    display: inline-block;

    > button {
      margin-left: 5px;
    }
  }

  .compose-toolbar {
    display: none;
    box-shadow: @standard-shadow;
    padding: 1px 1px 2px 1px;
    position: absolute;
    background: white;
    z-index: 2;
    bottom: 48px;
    margin-left: -37.5px;
  }

  [disabled] {
    background: rgba(0, 0, 0, 0.2);
  }

  .btn-send {
    // .btn-variant(@action-color);
    margin-right: 15px;
  }

  .compose-participants-wrap, .compose-subject-wrap {
    position: relative;
    z-index: 2;
    padding: 5px @spacing-standard 0 @spacing-standard;
  }

  .compose-subject-wrap {
    margin: 0 @spacing-standard;
    padding: 5px @spacing-standard 0 0;
    border-bottom: 1px solid @border-color-divider;

    .subject-label {
      color: @text-color-very-subtle;
      float: left;
      padding-top: 8px;
      display: block;
    }

    input.compose-field {
      display: inline-block;
      width: calc(~"100% - 61px");
      padding: 6px 0 2px 0;
      margin: 0 0 5px 5px;
      min-width: 5em;
      background-color: transparent;
      border: none;
    }
  }

  .completion-participant {
    .participant-name, .participant-email {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .participant-name {
      display: block;
      float: left;
    }
    .participant-email {
      display: block;
      float: right;
    }
  }

  .participant{
    white-space: nowrap;
    text-overflow: ellipsis;
    .participant-primary {
      font-weight: @font-weight-semi-bold;
    }
    .participant-secondary {
      color: @text-color-very-subtle;
    }
  }


  .token.selected .participant-secondary, .token.dragging .participant-secondary {
    color: @text-color-inverse-subtle;
  }

  .compose-body {
    flex: 1;
    z-index: 1;
    display: flex;
    cursor: text;
    overflow: auto;
    position: relative;

    .quoted-text-control {
      position: absolute;
      bottom: 10px;
      left: 15px;
      margin: 0;
    }

    div[contenteditable] {
      min-height: 150px;
      padding: @spacing-standard;
      padding-top: @spacing-standard;
      padding-bottom: 0;
      margin-bottom: 37px;
    }
    .contenteditable-container {
      width: 100%;
    }
  }

  .compose-footer-wrap {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: left;
    background: @background-secondary;
    border-top: 1px solid @border-color-divider;
  }
  .compose-footer {
    padding: @spacing-standard;
    padding-bottom: @spacing-standard*1.1;
  }

  // TODO FIXME DRY From stylesheets/message-list.less
  .attachments-area {
    padding: 0px 15px 0px 15px;
    .attachment-file-wrap {
      padding-top: 5px;
      &.pending, &.started, &.progress {
        color: @text-color-subtle;
        .attachment-file-actions { visibility: visible; }
        .attachment-file-and-name:hover { cursor: default; color: @text-color-subtle; }
      }

      &.completed, &.success {
        color: @text-color-success; // Success state
        .attachment-file-actions { visibility: hidden; }
        .attachment-file-and-name:hover { cursor: default; color: @text-color-success; }
        .attachment-upload-progress { background: @background-color-success; }
      }

      &.aborted, &.failed {
        color: @text-color-error;
        .attachment-file-actions { visibility: hidden; }
        .attachment-file-and-name:hover { cursor: default; color: @text-color-error; }
        .attachment-upload-progress { background: @background-color-error; }
      }
    }

    .attachment-file-actions {
      margin-left: 0.4em;
    }
  }
}

#new-compose-button {
  .btn-compose {
    margin-top: @spacing-half;
    margin-left: @spacing-standard;
  }
}
