@import "ui-variables";
@import "ui-mixins";

@message-max-width: 800px;

// This class wraps the items that appear above the message list in the
// toolbar. We want the toolbar items to sit right above the centered
// content, so we need another 800px-wide container in the toolbar...
.message-toolbar-items {
  order: -100;
  width: 100%;
  text-align: center;
  position: absolute;
  pointer-events: none;
  transition: opacity .25s ease-in-out;

  .message-toolbar-items-inner {
    margin: auto;
    max-width: @message-max-width - @spacing-three-quarters*2;
    text-align: left;
    pointer-events: auto;
  }
}

// .message-toolbar-items also fades in and out when you select / deselect
.message-toolbar-items.hidden {
  opacity: 0;
}

#message-list {
  position: relative;

  width: 100%;
  padding: 0;
  overflow-y: auto;
  order: 2;

  .message-list-headers {
    margin: 0 auto;
    padding: @spacing-double;
    padding-bottom: @spacing-standard;
    width: 100%;
    max-width: @message-max-width;

    .participants {
      .contact-chip {
        display:inline-block;
      }
    }
  }

  .message-item-wrap {
    position: relative;
    width: 100%;

    margin: 0 auto;
    padding: @spacing-double 0;
    &:first-child { padding-top: 0; }

    border-bottom: 1px solid @border-primary-bg;
    &:last-child { border-bottom: 0; }

    &.collapsed {
      padding: @spacing-standard @spacing-double;
    }
  }

  .message-header {
    position: relative;
    font-size: @font-size-small;

    .message-actions {
      z-index: 4;
      margin-top: 0.35em;
      margin-left: 0.5em;
      text-align: right;

      .btn-icon {
        padding: 0 @spacing-half;
        &:last-child { padding-right: 0; }
        margin-left: 10px;
        margin-right: 0;
        &:active {background: transparent;}
      }
    }

    .message-time         {
      z-index: 2; position: relative;
      display: inline-block;
    }
    .msg-actions-tooltip {
      display: inline-block;
      margin-left: 1em;
    }
    .message-participants { z-index: 1; position: relative; }

    .message-time, .message-indicator {
      color: @text-color-very-subtle;
    }


    .message-header-right {
      z-index: 4; position: relative;
      float: right;
    }

  }

  .message-item-area {
    width: 100%;
    max-width: @message-max-width;
    margin: 0 auto;
    padding: @spacing-standard @spacing-double;

    iframe {
      width: 100%;
      border: 0;
      padding: 0;
      margin-top: @spacing-sub-double;
      overflow: auto;
    }
  }


  .collapse-control {
    &.inactive { display: none; }
    z-index: 3;
    position: absolute;
    top: 0;
    left: -1 * @spacing-standard;
    color: @text-color-very-subtle;
  }
  .message-item-wrap:hover {
    .collapse-control.inactive { display: block; }
  }

  .collapse-control:hover {cursor: pointer;}

}
.attachments-area {
  padding-top: @spacing-standard;
}


///////////////////////////////
// message-participants.cjsx //
///////////////////////////////
.message-participants {

  &.collapsed:hover {cursor: pointer;}

  .from-contact {
    font-weight: @headings-font-weight;
    color: @text-color;
  }
  .from-label, .to-label, .cc-label {
    color: @text-color-very-subtle;
  }
  .to-label { font-weight: 600; }
  .cc-label { margin-left: @spacing-standard; }
  .to-contact, .cc-contact, .to-everyone {
    color: @text-color-very-subtle;
  }

  .expanded-participants {
    position: relative;
    padding-right: 1.2em;

    .participant-type {
      margin-top: 0.5em;
      &:first-child {margin-top: 0;}
    }

    .from-label, .to-label, .cc-label {
      float: left;
      display: block;
      font-weight: 400;
      margin-left: 0;
    }

    .from-contact, .to-contact, .cc-contact {
      padding-left: 3.85em;
      font-weight: 500;
    }

    .from-label { margin-right: 1em; }
    .to-label, .cc-label { margin-right: 2.15em; }

    .participant-primary {
      color: @text-color;
    }
    .participant-secondary {
      color: @text-color-very-subtle;
    }
  }
}
