cchardet==1.0.0
cffi==1.3.0
chardet==2.3.0
cryptography==1.1
Cython==0.23.4
dnspython==1.12.0
dnsq==1.1.6
enum34==1.0.4
expiringdict==1.1.3
flanker==0.4.37
Flask==0.10.1
gunicorn==19.3.0
icalendar==3.9.1
idna==2.0
ipaddress==1.0.15
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pyasn1==0.1.9
pycparser==2.14
PyMySQL==0.6.7
python-dateutil==2.4.2
pytz==2015.7
redis==2.10.5
regex==2015.11.14
requests==2.8.1
six==1.10.0
SQLAlchemy==1.0.9
WebOb==1.5.1
Werkzeug==0.11.2
wheel==0.24.0
