'menu': [
  {
    label: 'Nylas'
    submenu: [
      { label: 'About Nylas', command: 'application:about' }
      { label: 'Link External Account', command: 'atom-workspace:add-account' }
      { label: 'Log Out', command: 'application:logout' }
      { label: 'VERSION', enabled: false }
      { label: 'Restart and Install Update', command: 'application:install-update', visible: false}
      { label: 'Check for Update', command: 'application:check-for-update', visible: false}
      { label: 'Downloading Update', enabled: false, visible: false}
      { type: 'separator' }
      { type: 'separator' }
      { label: 'Services', submenu: [] }
      { type: 'separator' }
      { label: 'Hide Nylas', command: 'application:hide' }
      { label: 'Hide Others', command: 'application:hide-other-applications' }
      { label: 'Show All', command: 'application:unhide-all-applications' }
      { type: 'separator' }
      { label: 'Quit', command: 'application:quit' }
    ]
  }
  {
    label: 'File'
    submenu: [
      { label: 'New Message', command: 'application:new-message' }
      { type: 'separator' }
      { label: 'Close Window', command: 'window:close' }
    ]
  }

  {
    label: 'Edit'
    submenu: [
      { label: 'Undo', command: 'core:undo' }
      { label: 'Redo', command: 'core:redo' }
      { type: 'separator' }
      { label: 'Cut', command: 'core:cut' }
      { label: 'Copy', command: 'core:copy' }
      { label: 'Paste', command: 'core:paste' }
      { label: 'Select All', command: 'core:select-all' }
    ]
  }

  {
    label: 'View'
    submenu: [
      { label: 'Reload', command: 'window:reload' }
      { label: 'Toggle Full Screen', command: 'window:toggle-full-screen' }
    ]
  }
  {
    label: 'Developer'
    submenu: [
      { label: 'Open In Dev Mode...', command: 'application:open-dev' }
      { type: 'separator' }
      { label: 'Open Detailed Logs', command: 'window:open-errorreporter-logs' }
      { label: 'Ship Detailed Logs to Nylas', command: 'application:ship-logs' }
      { type: 'separator' }
      { label: 'Run Nylas Mail Specs', command: 'application:run-all-specs' }
      { label: 'Run Package Specs', command: 'application:run-package-specs' }
      { label: 'Toggle Developer Tools', command: 'window:toggle-dev-tools' }
    ]
  }
  {
    label: 'Window'
    submenu: [
      { label: 'Minimize', command: 'application:minimize' }
      { label: 'Zoom', command: 'application:zoom' }
      { type: 'separator' }
      { label: 'Message Viewer', command: 'application:show-main-window' }
      { type: 'separator' }
      { label: 'Bring All to Front', command: 'application:bring-all-windows-to-front' }
    ]
  }

  {
    label: 'Help'
    submenu: [
      { label: 'Send Feedback to Nylas', command: 'application:send-feedback' }
    ]
  }
]

'context-menu': [
]
