'menu': [
  {
    label: '&File'
    submenu: [
      { label: '&New Message', command: 'application:new-message' }
      { type: 'separator' }
      { label: 'Link External Account', command: 'atom-workspace:add-account' }
      { label: 'Log Out', command: 'application:logout' }
      { label: 'Clos&e Window', command: 'window:close' }
      { label: 'Quit', command: 'application:quit' }
    ]
  }

  {
    label: '&Edit'
    submenu: [
      { label: '&Undo', command: 'core:undo' }
      { label: '&Redo', command: 'core:redo' }
      { type: 'separator' }
      { label: '&Cut', command: 'core:cut' }
      { label: 'C&opy', command: 'core:copy' }
      { label: '&Paste', command: 'core:paste' }
      { label: 'Select &All', command: 'core:select-all' }
    ]
  }

  {
    label: '&View'
    submenu: [
      { label: '&Reload', command: 'window:reload' }
      { label: 'Toggle &Full Screen', command: 'window:toggle-full-screen' }
      { label: 'Toggle Menu Bar', command: 'window:toggle-menu-bar' }
    ]
  }
  {
    label: 'Developer'
    submenu: [
      { label: 'Toggle Hacker Theme', command: 'application:toggle-theme' }
      { type: 'separator' }
      { label: 'Relaunch with &Debug Flags...', command: 'application:open-dev' }
      { type: 'separator' }
      { label: 'Open Detailed Logs', command: 'window:open-errorreporter-logs' }
      { label: 'Ship Detailed Logs to Nylas', command: 'application:ship-logs' }
      { type: 'separator' }
      { label: 'Create a Package...', command: 'application:create-package' }
      { label: 'Run Package &Specs...', command: 'application:run-package-specs' }
      { label: 'Run &Nylas Mail Specs', command: 'application:run-all-specs' }
      { label: 'Toggle Developer &Tools', command: 'window:toggle-dev-tools' }
    ]
  }
  {
    label: '&Help'
    submenu: [
      { label: "VERSION", enabled: false }
      { type: 'separator' }
      { label: 'Send Feedback to Nylas', command: 'application:send-feedback' }
    ]
  }
]

'context-menu':[
]
