'menu': [
  {
    label: '&File'
    submenu: [
      { label: '&New Message', command: 'application:new-message' }
      { type: 'separator' }
      { label: 'Link External Account', command: 'atom-workspace:add-account' }
      { label: 'Log Out', command: 'application:logout' }
      { label: 'Clos&e Window', command: 'window:close' }
      { label: 'Quit', command: 'application:quit' }
    ]
  }

  {
    label: '&Edit'
    submenu: [
      { label: '&Undo', command: 'core:undo' }
      { label: '&Redo', command: 'core:redo' }
      { type: 'separator' }
      { label: '&Cut', command: 'core:cut' }
      { label: 'C&opy', command: 'core:copy' }
      { label: '&Paste', command: 'core:paste' }
      { label: 'Select &All', command: 'core:select-all' }
    ]
  }

  {
    label: '&View'
    submenu: [
      { label: '&Reload', command: 'window:reload' }
      { label: 'Toggle &Full Screen', command: 'window:toggle-full-screen' }
      { label: 'Toggle Menu Bar', command: 'window:toggle-menu-bar' }
    ]
  }

  {
    label: '&Help'
    submenu: [
      { label: "VERSION", enabled: false }
      { type: 'separator' }
      { label: 'Report Issue', command: 'application:report-issue' }
    ]
  }
]

'context-menu':[
]
