'menu': [
  { label: 'Add Account...', command: 'application:add-account' }
  {
    label: '&Edit'
    submenu: [
      { label: '&Undo', command: 'core:undo' }
      { label: '&Redo', command: 'core:redo' }
      { type: 'separator' }
      { label: 'Cu&t', command: 'core:cut' }
      { label: '&Copy', command: 'core:copy' }
      { label: '&Paste', command: 'core:paste' }
      { label: 'Paste and Match Style', command: 'core:paste-and-match-style' }
      { label: 'Select &All', command: 'core:select-all' }
      { type: 'separator' }
      { label: 'Find', submenu: [
        { label: 'Find in Thread...', command: 'application:find-in-thread' }
        { label: 'Find Next', command: 'application:find-in-thread-next' }
        { label: 'Find Previous', command: 'application:find-in-thread-previous' }
      ] }
    ]
  }

  {
    label: '&View'
    submenu: [
      { label: 'Toggle &Full Screen', command: 'window:toggle-full-screen' }
    ]
  }
  {
    label: 'Developer'
    submenu: [
      { label: 'Run with &Debug Flags', type: 'checkbox', command: 'application:toggle-dev' }
      { type: 'separator' }
      { label: '&Reload', command: 'window:reload' }
      { label: 'Toggle Developer &Tools', command: 'window:toggle-dev-tools' }
      { label: 'Toggle Component Regions', command: 'window:toggle-component-regions' }
      { label: 'Toggle React Remote', command: 'window:toggle-react-remote' }
      { label: 'Toggle Screenshot Mode', command: 'window:toggle-screenshot-mode' }
      { type: 'separator' }
      { label: 'Open Activity Window', command: 'application:show-work-window' }
      { type: 'separator' }
      { label: 'Create a Plugin...', command: 'application:create-package' }
      { label: 'Install a Plugin Manually...', command: 'application:install-package' }
      { type: 'separator' }
      { label: 'Run Plugin &Specs...', command: 'application:run-package-specs' }
      { label: 'Run &N1 Specs', command: 'application:run-all-specs' }
      { type: 'separator' }
      { label: 'Open Detailed Logs', command: 'window:open-errorlogger-logs' }
    ]
  }
  {
    label: '&Help'
    submenu: [
      { label: 'VERSION', enabled: false }
      { label: 'Restart and Install Update', command: 'application:install-update', visible: false}
      { label: 'Check for Update', command: 'application:check-for-update', visible: false}
      { label: 'Downloading Update', enabled: false, visible: false}
      { type: 'separator' }
      { label: 'Nylas N1 Help', command: 'application:view-help' }
    ]
  }
  { type: 'separator' }
  { label: 'Preferences', command: 'application:open-preferences' }
  { label: 'Change Theme...', command: 'window:launch-theme-picker' }
  { label: 'Install New Theme...', command: 'application:install-package' }
  { type: 'separator' }
  { label: 'Print Current Thread', command: 'application:print-thread' }
  { type: 'separator' }
  { label: 'E&xit', command: 'application:quit' }
]

'context-menu':[
]
