'global':
  'core':
    'themes': [
      'inbox-light-ui'
    ]
    'disabledPackages': [
      "atom-dark-syntax",
      "atom-dark-ui",
      "atom-light-syntax",
      "atom-light-ui",
      "one-dark-syntax",
      "one-dark-ui",
      "one-light-syntax",
      "one-light-ui",
      "base16-tomorrow-dark-theme",
      "base16-tomorrow-light-theme",
      "solarized-dark-syntax",
      "solarized-light-syntax",
      "archive-view",
      "autocomplete",
      "autoflow",
      "autosave",
      "background-tips",
      "bookmarks",
      "bracket-matcher",
      "command-palette",
      "deprecation-cop",
      "encoding-selector",
      "dev-live-reload",
      "exception-reporting",
      "feedback",
      "find-and-replace",
      "fuzzy-finder",
      "git-diff",
      "go-to-line",
      "grammar-selector",
      "image-view",
      "incompatible-packages",
      "keybinding-resolver",
      "link",
      "markdown-preview",
      "metrics",
      "open-on-github",
      "package-generator",
      "release-notes",
      "settings-view",
      "snippets",
      "spell-check",
      "status-bar",
      "styleguide",
      "symbols-view",
      "tabs",
      "timecop",
      "tree-view",
      "update-package-dependencies",
      "welcome",
      "whitespace",
      "wrap-guide",
      "language-c",
      "language-coffee-script",
      "language-css",
      "language-gfm",
      "language-git",
      "language-go",
      "language-html",
      "language-hyperlink",
      "language-java",
      "language-javascript",
      "language-json",
      "language-less",
      "language-make",
      "language-mustache",
      "language-objective-c",
      "language-perl",
      "language-php",
      "language-property-list",
      "language-python",
      "language-ruby",
      "language-ruby-on-rails",
      "language-sass",
      "language-shellscript",
      "language-source",
      "language-sql",
      "language-text",
      "language-todo",
      "language-toml",
      "language-xml",
      "language-yaml",

      # Temporarily disabled
      "sidebar-fullcontact",
      "message-templates",
      "calendar-bar",
      "salesforce"
    ]
