@import 'base/ui-variables';

@gray-base: #ffffff;
@gray-darker: darken(@gray-base, 13.5%);
@gray-dark: darken(@gray-base, 20%);
@gray: darken(@gray-base, 33.5%);
@gray-light: darken(@gray-base, 46.7%);
@gray-lighter: darken(@gray-base, 92.5%);
@white: #0a0b0c;

@accent-primary: #5e6a77;
@accent-primary-dark: #5e6a77;

@background-primary: #333539;
@background-off-primary: #282828;
@background-secondary: #333539;
@background-tertiary: #333539;

@border-color-primary: darken(@background-primary, 1%);
@border-color-secondary: darken(@background-secondary, 1%);
@border-color-tertiary: darken(@background-tertiary, 1%);
@border-color-divider: @border-color-secondary;

@text-color: #c0c6cb;
@text-color-subtle: fadeout(@text-color, 20%);
@text-color-very-subtle: fadeout(@text-color, 40%);
@text-color-inverse: white;
@text-color-inverse-subtle: fadeout(@text-color-inverse, 20%);
@text-color-inverse-very-subtle: fadeout(@text-color-inverse, 50%);
@text-color-heading: #FFF;

@btn-default-bg-color: lighten(@background-primary, 5%);
@dropdown-default-bg-color: #404040;

@input-bg: #242424;
@input-border: @border-color-divider;

@list-bg: #333;
@list-border: #383838;
@list-selected-color: @text-color-inverse;
@list-focused-color: @text-color;

@toolbar-background-color: @background-secondary;
@panel-background-color: #282b30;

.sheet-toolbar {
  border-bottom: none;
  box-shadow: 0 0 0.5px @border-color-primary, 0 1px 1.5px @border-color-primary,
    0 0 3px @border-color-primary;
}

.thread-icon:not(.thread-icon-unread):not(.thread-icon-star) {
  -webkit-filter: invert(100%);
}
img.content-dark {
  -webkit-filter: invert(100%);
}
img.content-light {
  -webkit-filter: invert(100%);
}

.popover {
  border: 1px solid @border-color-primary;
}

.mail-label {
  -webkit-filter: contrast(110%) brightness(85%);
}

.sheet-toolbar .btn-toolbar {
  box-shadow: 0 0.5px 0.05px rgba(255, 255, 255, 0.4), 0 -0.5px 0 rgba(255, 255, 255, 0.12);
}
.btn {
  box-shadow: 0 0.5px 0 rgba(255, 255, 255, 0.15), 0 -0.5px 0 rgba(255, 255, 255, 0.15),
    0.5px 0 0 rgba(255, 255, 255, 0.15), -0.5px 0 0 rgba(255, 255, 255, 0.15),
    0 0.5px 1px rgba(255, 255, 255, 0.15);
}
