<!-- analytics -->

<script>
window.trackDownloadLink = function(eventAction) {
  return function(event) {
    event.stopPropagation();
    event.preventDefault();
    var href = $(event.currentTarget).attr('href');
    ga('send',{
      'hitType': 'event',
      'eventCategory': 'Download',
      'eventAction': eventAction,
      'hitCallback': function() {
        document.location = href;
      }
    });
    return false;
  }
  return false;
}
</script>

{% if site.google_analytics_id %}
  <!-- Google Analytics (http://google.com/analytics) -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics_id }}', 'auto', {
      'allowLinker': true
    });
    ga('send', 'pageview');
    ga('linker:autoLink', ['invite.nylas.com', 'nylas.com', 'developer.nylas.com']);
  </script>
{% endif %}

<!-- AdRoll Code -->
<script type="text/javascript">
   adroll_adv_id = "KTKDYJUIVJG5PGVN2DJGCG";
   adroll_pix_id = "VEPSFYZKB5HUFMYMLZ5OWU";
   (function () {
       var _onload = function(){
           if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
           if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
           var scr = document.createElement("script");
           var host = (("https:" == document.location.protocol) ? "s.adroll.com" : "a.adroll.com");
           scr.setAttribute('async', 'true');
           scr.type = "text/javascript";
           scr.src = document.location.protocol + "//" + host + "/j/roundtrip.js";
           ((document.getElementsByTagName('head') || [null])[0] ||
               document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
       };
       if (window.addEventListener) {window.addEventListener('load', _onload, false);}
       else {window.attachEvent('onload', _onload)}
   }());
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '416174325242828');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=416174325242828&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
