
<div class="footer">
  <div class="container">
    <div class="grid">
      <div class="unit half">
        <div>
          <span style="font-weight:400; padding-right:7px; font-size:25px; display:inline-block;">Nylas</span>
          <span style="font-weight:300; font-size:25px; display:inline-block;">N1</span>
        </div>
      </div>
      <div class="unit half" style="text-align: right;">
        <div style="color:#aaa;">
          Made with <img style="width:30px; vertical-align: middle; display:inline-block;" src="{{ site.baseurl }}/images/watercolor_heart.png"/> by <a style="color:inherit" href="https://nylas.com">Nylas</a>
        </div>
      </div>
    </div>
  </div>
</div>
