<div id="nav" class="nav {% if page.overview %}index-nav{% endif %}">
  <div class="container">
    <a class="logo" href="{{ site.baseurl }}/">
      <span style="font-weight:400; padding-right:7px; font-size:25px; display:inline-block; float:left;">Nylas</span>
      <span style="font-weight:300; font-size:25px; display:inline-block;">N1</span>
    </a>

    <ul class="main-nav-actions">
      <li class="{% if page.overview %}active{% endif %}">
        <a href="{{ site.baseurl }}/">Home</a>
      </li>
      <li class="{% if page.url contains '/examples' %}active{% endif %}">
        <a href="{{ site.baseurl }}/examples">Plugins</a>
      </li>
      <li class="{% if page.url contains '/faq' %}active{% endif %}">
        <a href="{{ site.baseurl }}/faq">FAQ</a>
      </li>
      <li class="{% if page.url contains '/getting-started' %}active{% endif %}">
        <a href="{{ site.baseurl }}/getting-started/">Getting Started</a>
      </li>
      <li class="{% if page.url contains '/docs/' %}active{% endif %}">
        <a href="{{ site.baseurl }}/docs/">Documentation</a>
      </li>
    </ul>
    <div class="alt-nav-actions">
      <ul>
        <li><a href="http://slack-invite.nylas.com/" target="_blank">Support</a></li>
        <li><a href="https://github.com/nylas/N1" target="_blank" rel="N1
            Source on Github" style="padding: 0 15px 0 0"><img
            src="{{ site.baseurl }}/images/GitHub-Mark-32px.png" style="width: 24px;
            position: relative; top: 7px;"></a></li>
        <li><a id="nav-download-button" class="btn btn-emphasis"
               href="https://invite.nylas.com/download"
               onclick="window.trackDownloadLink('navbar')">Download</a></li>
      </ul>
    </div>
  </div>
  <div id="hamburger" class="hamburger"><hr><hr><hr></div>
  <script>
    $("#hamburger").on("click", function() {
      $("#nav").toggleClass("open");
    });
  </script>
</div>
