<div id="hero" class="hero">
  <img id="watercolor-left" class="hero-bg" src="images/left.png">
  <img id="watercolor-right" class="hero-bg" src="images/right.png">
  <div id="bg-fade"></div>

  <div id="animation-container" class="animation-container">
  </div>
</div>

<div id="hero-text" class="hero-text">
  <h1 style="margin:0;">N1</h1>
  <h4 >An extensible, open-source mail client built on the modern web.</h4>
  <div class="cta" style="margin-top:40px;">

    <div id="play-intro"><div class="triangle"></div>Play Intro</div>

    <!-- <a class="btn btn-large" style="margin-right:10px;" href="{{ site.baseurl }}/docs"> Explore the Docs </a> -->
    <a class="btn btn-large btn-emphasis" href="https://invite.nylas.com/download">
      Download
    </a>
  </div>
</div>
