# Note: Only put keymaps in here that apply to Windows ONLY
#
# Most cross-platform issues can be resolved by using the special N1
# `cmdctrl` extension before you keymap. This will automatically default
# to using the `cmd` key on Mac and `ctrl` key on Windows.

'body':
  'ctrl-alt-l': 'window:reload'
  'ctrl-alt-i': 'window:toggle-dev-tools'
  'ctrl-alt-w': 'application:show-work-window'
  'F11': 'window:toggle-full-screen'
