# Note: For a menu item to have a keyboard equiavalent, it needs
# to be listed in this file.

'body':
  # Mac application keys
  'cmd-q': 'application:quit'
  'cmd-h': 'application:hide'
  'cmd-1': 'application:show-main-window'
  'cmd-m': 'application:minimize'
  'cmd-alt-h': 'application:hide-other-applications'
  'alt-cmd-ctrl-m': 'application:zoom'
  'cmd-alt-ctrl-s': 'application:run-all-specs'

  # Mac core keys
  'cmd-z': 'core:undo'
  'cmd-Z': 'core:redo'
  'cmd-y': 'core:redo'
  'cmd-x': 'core:cut'
  'cmd-c': 'core:copy'
  'cmd-a': 'core:select-all'
  'cmd-v': 'core:paste'

  # Mac window keys
  'cmd-w': 'window:close'
  'cmd-=': 'window:increase-font-size'
  'cmd-+': 'window:increase-font-size'
  'cmd--': 'window:decrease-font-size'
  'cmd-_': 'window:decrease-font-size'
  'cmd-0': 'window:reset-font-size'
  'alt-cmd-i': 'window:toggle-dev-tools'
  'cmd-ctrl-f': 'window:toggle-full-screen'
  'ctrl-alt-cmd-l': 'window:reload'
  'cmd-alt-ctrl-p': 'application:run-package-specs'

'body div *[contenteditable]':
  'cmd-z': 'core:undo'
  'cmd-Z': 'core:redo'
  'cmd-y': 'core:redo'
