
# allow standard input fields to work correctly
'body .native-key-bindings':
  'tab': 'core:focus-next'
  'shift-tab': 'core:focus-previous'
  'enter': 'native!'
  'backspace': 'native!'
  'shift-backspace': 'native!'
  'delete': 'native!'
  'up': 'native!'
  'down': 'native!'
  'shift-up': 'native!'
  'shift-down': 'native!'
  'alt-up': 'native!'
  'alt-down': 'native!'
  'alt-shift-up': 'native!'
  'alt-shift-down': 'native!'
  'cmd-up': 'native!'
  'cmd-down': 'native!'
  'cmd-shift-up': 'native!'
  'cmd-shift-down': 'native!'
  'ctrl-up': 'native!'
  'ctrl-down': 'native!'
  'ctrl-shift-up': 'native!'
  'ctrl-shift-down': 'native!'
  'left': 'native!'
  'right': 'native!'
  'shift-left': 'native!'
  'shift-right': 'native!'
  'alt-left': 'native!'
  'alt-right': 'native!'
  'alt-shift-left': 'native!'
  'alt-shift-right': 'native!'
  'cmd-left': 'native!'
  'cmd-right': 'native!'
  'cmd-shift-left': 'native!'
  'cmd-shift-right': 'native!'
  'ctrl-left': 'native!'
  'ctrl-right': 'native!'
  'ctrl-shift-left': 'native!'
  'ctrl-shift-right': 'native!'
  'ctrl-b': 'native!'
  'ctrl-f': 'native!'
  'ctrl-F': 'native!'
  'ctrl-B': 'native!'
  'ctrl-h': 'native!'
  'ctrl-d': 'native!'

'body webview.native-key-bindings':
  'tab': 'native!'
  'shift-tab': 'native!'

# core components

'body .menu, body .menu .native-key-bindings':
  'up': 'menu:move-up'
  'left': 'native!'
  'down': 'menu:move-down'
  'right': 'native!'
  'enter': 'menu:enter'
  'tab': 'core:focus-next'
  'shift-tab': 'core:focus-previous'
  'backspace': 'native!'
  'shift-backspace': 'native!'
  'delete': 'native!'
  'cmd-z': 'native!'
  'cmd-Z': 'native!'
  'cmd-x': 'native!'
  'cmd-X': 'native!'
  'cmd-c': 'native!'
  'cmd-C': 'native!'
  'cmd-v': 'native!'
  'cmd-V': 'native!'
  'cmd-a': 'native!'
  'cmd-A': 'native!'
  'ctrl-z': 'native!'
  'ctrl-Z': 'native!'
  'ctrl-x': 'native!'
  'ctrl-X': 'native!'
  'ctrl-c': 'native!'
  'ctrl-C': 'native!'
  'ctrl-v': 'native!'
  'ctrl-V': 'native!'
  'ctrl-a': 'native!'
  'ctrl-A': 'native!'

'body .popover-container':
  'escape': 'popover:close'
