# Note: For a menu item to have a keyboard equiavalent, it needs
# to be listed in this file.

# Windows application keys
'body':
  'ctrl-q': 'application:quit'
  'ctrl-alt-s': 'application:run-all-specs'

# Windows core keys
  'ctrl-z': 'core:undo'
  'ctrl-Z': 'core:redo'
  'ctrl-y': 'core:redo'
  'ctrl-x': 'core:cut'
  'ctrl-c': 'core:copy'
  'ctrl-a': 'core:select-all'
  'ctrl-v': 'core:paste'
  'ctrl-insert': 'core:copy'
  'shift-insert': 'core:paste'

# Windows window keys
  'ctrl-w': 'window:close'
  'ctrl-=': 'window:increase-font-size'
  'ctrl-+': 'window:increase-font-size'
  'ctrl--': 'window:decrease-font-size'
  'ctrl-_': 'window:decrease-font-size'
  'ctrl-0': 'window:reset-font-size'
  'ctrl-alt-i': 'window:toggle-dev-tools'
  'F11': 'window:toggle-full-screen'
  'ctrl-alt-r': 'window:reload'
  'ctrl-alt-p': 'window:run-package-specs'
