.full-contact-sidebar {
  padding: @spacing-standard;
  order: 1;

  .full-contact {
    h1.name {
      font-size: 20px;
      font-weight: @font-weight-normal;
      margin: 0;
      padding: 0.6em 0 0.4em 0;
    }

    .profile-photo {
      max-width: 42px;
      max-height: 42px;
      display: block;
      float: right;
      margin-left: @spacing-standard;
    }

    .header {
      &:before, &:after { content: " "; display: table; }
      &:after { clear: both; }
    }

    .subheader {
      border-top: 1px solid @border-color-divider;
      margin: @spacing-standard 0;
      color: @text-color-subtle;
      padding: @spacing-standard 0;
      font-size: @font-size-smaller;
    }
  }

  h2.sidebar-h2 {
    font-size: 10px;
    font-weight: @font-weight-semi-bold;
    text-transform: uppercase;
    color: @text-color-very-subtle;
    border-bottom: 1px solid @border-color-divider;
    margin: 2em 0 1em 0;
  }

  .other-contacts {
    .other-contact {
      color: @text-color-subtle;
      font-size: @font-size-smaller;
      &.selected {
        font-weight: @font-weight-semi-bold;
      }
      &:hover {cursor: pointer;}
    }
  }
}
