@import "ui-variables";

.emoji-picker {
  max-height: 130px !important;
  margin: 10px;
  overflow: auto;
  .btn.btn-icon {
    font-size: 14px !important;
    padding: 0 0.5em;
    &:first-child {
      padding-left: 0.5em !important;
    }
    &.emoji-option, &:hover {
      background-color: @btn-emphasis-bg-color;
      color: #FFFFFF;
      border-radius: 5px;
    }
  }
}
