'.composer-outer-wrap, .composer-outer-wrap input, .composer-outer-wrap
div[contenteditable]':
  'cmd-B' : 'composer:show-and-focus-bcc'
  'cmd-C' : 'composer:show-and-focus-cc'
  'cmd-enter' : 'composer:send-message'
  'ctrl-enter' : 'composer:send-message'

'.composer-outer-wrap div[contenteditable]':
  'escape' : 'composer:delete-empty-draft'

'.composer-outer-wrap .btn.btn-send':
  'enter' : 'composer:send-message'
  'tab' : 'composer:focus-to'
  'shift-tab' : 'native!'
