@import "nav.scss";
@import "animated-hero.scss";

@font-face {
  font-family:'FaktPro-Hair';
  src: local('FaktPro-Hair_gdi'), url('/N1/fonts/FaktPro-Hair_gdi.eot');
  src: url('/N1/fonts/FaktPro-Hair_gdi.eot?#iefix') format('embedded-opentype'),
  url('/N1/fonts/FaktPro-Hair_gdi.woff') format('woff'),
  url('/N1/fonts/FaktPro-Hair_gdi.ttf') format('truetype'),
  url('/N1/fonts/FaktPro-Hair_gdi.svg#FaktPro-Hair') format('svg');
  font-weight: 280;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U0020-25CA;
}

@font-face {
  font-family:'FaktPro-Thin';
  src: local('FaktPro-Thin_gdi'), url('/N1/fonts/FaktPro-Thin_gdi.eot');
  src: url('/N1/fonts/FaktPro-Thin_gdi.eot?#iefix') format('embedded-opentype'),
  url('/N1/fonts/FaktPro-Thin_gdi.woff') format('woff'),
  url('/N1/fonts/FaktPro-Thin_gdi.ttf') format('truetype'),
  url('/N1/fonts/FaktPro-Thin_gdi.svg#FaktPro-Thin') format('svg');
  font-weight: 290;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family:'FaktPro-Light';
  src: local('FaktPro-Light_gdi'), url('/N1/fonts/FaktPro-Light_gdi.eot');
  src: url('/N1/fonts/FaktPro-Light_gdi.eot?#iefix') format('embedded-opentype'),
  url('/N1/fonts/FaktPro-Light_gdi.woff') format('woff'),
  url('/N1/fonts/FaktPro-Light_gdi.ttf') format('truetype'),
  url('/N1/fonts/FaktPro-Light_gdi.svg#FaktPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family:'FaktPro-Blond';
  src: local('FaktPro-Blond_gdi'), url('/N1/fonts/FaktPro-Blond_gdi.eot');
  src: url('/N1/fonts/FaktPro-Blond_gdi.eot?#iefix') format('embedded-opentype'),
  url('/N1/fonts/FaktPro-Blond_gdi.woff') format('woff'),
  url('/N1/fonts/FaktPro-Blond_gdi.ttf') format('truetype'),
  url('/N1/fonts/FaktPro-Blond_gdi.svg#FaktPro-Blond') format('svg');
  font-weight: 350;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family:'FaktPro-Medium';
  src: local('FaktPro-Medium_gdi'), url('/N1/fonts/FaktPro-Medium_gdi.eot');
  src: url('/N1/fonts/FaktPro-Medium_gdi.eot?#iefix') format('embedded-opentype'),
  url('/N1/fonts/FaktPro-Medium_gdi.woff') format('woff'),
  url('/N1/fonts/FaktPro-Medium_gdi.ttf') format('truetype'),
  url('/N1/fonts/FaktPro-Medium_gdi.svg#FaktPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family:'FaktPro-SemiBold';
  src: local('FaktPro-SemiBold_gdi'), url('/N1/fonts/FaktPro-SemiBold_gdi.eot');
  src: url('/N1/fonts/FaktPro-SemiBold_gdi.eot?#iefix') format('embedded-opentype'),
  url('/N1/fonts/FaktPro-SemiBold_gdi.woff') format('woff'),
  url('/N1/fonts/FaktPro-SemiBold_gdi.ttf') format('truetype'),
  url('/N1/fonts/FaktPro-SemiBold_gdi.svg#FaktPro-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}


body {
    padding: 0;
    margin: 0;
    font-family: 'FaktPro', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5em;
    background-color: white;
    margin: 0;
}
table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}
td,th {
    vertical-align: top;
    border: 1px solid #ddd;
    padding: 10px;
    line-height: 1.5em;
}
th {
    padding: 5px 10px;
}

a {
    color: #0069d6;
    text-decoration: none;
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}
a img {
    border: none;
}

#header {
  padding-top:40px;
  padding-bottom:20px;
  background-color:#eee;
  margin-bottom:40px;
}
#footer {
  margin-top:50px;
  padding-top:30px;
  padding-bottom:30px;
  background-color:#eee;
  clear:both;
}

#header .logo,
#footer .logo {
  float:left;
  width:50px;
  padding-right: 15px;
}
#header .title,
#footer .title {
  line-height: 22px;
  font-size:20px;
  font-weight:600;
  padding-top:6px;
}
#header .small,
#footer .small {
  font-weight:300;
  font-size:0.9em;
}

#main {
  margin-left:290px;
}

.page-title {
  font-weight:200;
  font-size:40px;
  color:#404040;
  padding-bottom:40px;
  padding-top:30px;
}
.page-title .extends {
  font-style: italic;
  font-size:0.7em;
  color:#ccc;
}

/* It's not possible to make H3+ in Markdown parsed out of source code, because
 Coffeescript uses the ### as the comment block character. Allow the use of #
 and ##, but convert these h1 and h2 elements to smaller headings. */
.markdown-from-sourecode h1,
.markdown-from-sourecode h2 {
  font-size: 24px;
  margin-top:30px;
}

.article img {
  margin-top:18px;
  margin-bottom:18px;
}

.article .center-logo {
  width:270px;
  height:270px;
  margin:auto;
  margin-top:20px;
  display:block;
  border:0;
}

.function-name {
  border-bottom:1px solid #ccc;
  padding-top:10px;
}
.function-name .arg {
  color: #999;
}
.function-name .arg:after {
  content: ", ";
  color: #999;
}
.function-name .arg:last-child:after {
  content: "";
}
.function-description h1,
.function-description h2,
.function-description h3,
.function-description h4,
.function-description h5 {
  font-size: 16px;
  line-height:1.5em;
  margin:0;
}

table th {
  background-color: #EAF7F6;
  text-align:left;
}
table td {
  position:relative;
}
table.arguments {
  width:100%;
}
table.arguments p {
  margin-bottom:0;
}
table.arguments .optional {
  background-color: #EAF7F6;
  position:absolute;
  top:0px;
  right:0px;
  padding-right: 4px;
  padding-left: 4px;
  font-weight: 500;
  font-size: 11px;
  line-height:16px;
}

table.no-border td {
  border:0;
}

h1 {
  font-weight: 200;
  font-size: 100px;
  line-height: 100px;
  margin:20px;
  padding:0;
}
h2 {
  font-weight: 200;
  font-size:60px;
  line-height:60px;
  margin-bottom:20px;
  margin-top:20px;
}
h3 {
  font-weight: 200;
  font-size: 45px;
  line-height:1.2em;
  margin-bottom:20px;
  margin-top:0;
  padding:0;
}
h4 {
  font-weight: 200;
  font-size: 30px;
  line-height:1.5em;
  margin:0;
  margin-top: 15px;
  padding:0;
  opacity: 0.7;
  display:inline-block;
}
body, html {
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height:1.7em;
}

.container {
  max-width:1000px;
  margin:auto;
  padding: 0 20px;
}

.grid.feature {
  margin-top:100px;
}
.hacker {
  width:100%;
  margin-top:100px;
  margin-bottom:80px;
  padding-top: 55px;
  padding-bottom: 55px;
  background: url(/N1/images/hacker_background.jpg) center no-repeat;
  background-size: cover;
}
.footer {
  padding-top:15px;
  padding-bottom:15px;
}
.footer > .container > .grid {
  box-shadow: inset 0 4px 4px -4px rgba(0,0,0,0.35);
}

.btn,
.nav li .btn {
  -webkit-user-select:none;
  padding: 0.33em 1em;
  border-radius: 4px;
  border: 0;
  cursor: default;
  display:inline-block;
  color: #231f20;
  background: linear-gradient(to top, rgba(241, 241, 241, 0.75) 0%, rgba(253, 253, 253, 0.75) 100%);
  height: auto;
  line-height: 1;
  box-shadow: 0 0.5px 0 rgba(0,0,0,0.15), 0 -0.5px 0 rgba(0,0,0,0.15), 0.5px 0 0 rgba(0,0,0,0.15), -0.5px 0 0 rgba(0,0,0,0.15), 0 1px 1px rgba(0, 0, 0, 0.15);

  &:active {
    background: linear-gradient(to top, rgba(230, 230, 230, 0.75) 0%, rgba(220, 220, 220, 0.75) 100%);
  }
}

.btn-large {
  padding: 12px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

.btn.btn-emphasis,
.nav li .btn.btn-emphasis {
  position: relative;
  color: white;
  background: linear-gradient(to bottom, #6bb1f9 0%, #0a80ff 100%);
  box-shadow: none;
  border: 1px solid #3878fa;

  &:hover {
    color:white;
  }
  &:active {
    background: linear-gradient(to bottom, #3878fa 0%, #0a80ff 100%);
  }
}

.example-item {
  padding: 15px;
  border-radius: 4px;
  border:1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  margin-bottom:20px;
}

.example-item-description {
  font-size: 16px;
  line-height: 20px;
  color: #555;
  margin: 5px 0;
}

.example-item-assumed-experience {
  margin-top:15px;
  font-size: 14px;
  color: #555;
  background: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 2px 8px;
}
.example-item-assumed-experience-badge {
  //padding: 2px 4px;
  //border-radius: 3px;
  //border: 1px solid #ccc;
  color: #000;
  font-weight: 600;
  //background: #f7f7f7;
}

.example-item-links {
  line-height: 16px;
  margin-top: 20px;
  border-top:1px solid #ddd;
  a {
    display:inline-block;
    padding-top:15px;
  }
  a.github::before {
    display: inline-block;
    width:16px;
    height:16px;
    margin-right:7px;
    background:url(https://github.com/favicon.ico) center no-repeat;
    background-size: contain;
    content: " ";
    vertical-align: top;
  }
}

.example-item-image {
  height: 170px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

#static-client-images {
  @include calc(width, "100% - 40px");
  padding: 0 20px;
  margin-top: -180px;
  position: relative;
  z-index: 2;
  text-align: center;
  @include transition(margin 1s $ease-in-out-cubic);
}
#static-screenshot-wrap {
  margin: 0 auto 8% auto;
  position: relative;
}
.static-screenshot {
  box-shadow: 0px 8px 25px rgba(0,0,0,0.25);
  z-index: 10;
}
.static-composer {
  position: absolute;
  bottom: -6%;
  right: -5%;
  box-shadow: 0px 15px 50px rgba(0,0,0,0.20);
}
