@font-face {
  font-family: 'Nylas-Pro';
  font-style: normal;
  font-weight: 200;
  src: url('mailspring://screenshot-mode/assets/BLOKKNeue-Regular.otf');
}

@font-face {
  font-family: 'Nylas-Pro';
  font-style: normal;
  font-weight: 300;
  src: url('mailspring://screenshot-mode/assets/BLOKKNeue-Regular.otf');
}

@font-face {
  font-family: 'Nylas-Pro';
  font-style: normal;
  font-weight: 400;
  src: url('mailspring://screenshot-mode/assets/BLOKKNeue-Regular.otf');
}

@font-face {
  font-family: 'Nylas-Pro';
  font-style: normal;
  font-weight: 500;
  src: url('mailspring://screenshot-mode/assets/BLOKKNeue-Regular.otf');
}

@font-face {
  font-family: 'Nylas-Pro';
  font-style: normal;
  font-weight: 600;
  src: url('mailspring://screenshot-mode/assets/BLOKKNeue-Regular.otf');
}
