@import "ui-variables";
@import "ui-mixins";

// Notifications Above Threads
.notifications-momentary {
  width: 100%;
  bottom: 0;
  position: absolute;
  background: @background-off-primary;
  border-top: 1px solid @border-secondary-bg;
  box-shadow: @standard-shadow-up;

  .notification-info { border-color: @background-color-info; }
  .notification-error {
    border-color: @background-color-error;
    color: @error-color;
  }
  .notification-success { border-color: @background-color-success; }

  .notification-item {
    text-align: center;
    border-top-width: 3px;
    border-top-style: solid;
    padding: @spacing-standard;
  }
}

.notifications-sticky {
  width:100%;

  .notification-info {
    background-color: @background-color-info;
  }
  .notification-error {
    border-color: @background-color-error;
    color: @error-color;
  }
  .notification-success {
    border-color: @background-color-success;
  }

  .notifications-sticky-item {
    display:block;
    font-size: @font-size-base;
    line-height: @line-height-base;
    padding: @padding-base-vertical @padding-base-horizontal @padding-base-vertical @padding-base-horizontal;
    color:@text-color-inverse;
    border-top:1px solid rgba(0,0,0,0.25);
    border-bottom:1px solid rgba(0,0,0,0.25);
    a {
      float:right;
      font-size:13px;
      background-color: rgba(255,255,255,0.2);
      color:@text-color-inverse;
      border-radius: 4px;
      padding:1px;
      padding-left:6px;
      padding-right:6px;
      margin-left:10px;
      border-top:1px solid transparent;
      border-bottom:none;
    }
    a:hover {
      background-color: rgba(0,0,0,0.2);
      border-top:1px solid rgba(0,0,0,0.35);
      text-decoration:none;
      color:@text-color-inverse;
    }

    i {
      margin-right:@padding-base-horizontal;
    }
  }
}