
@font-face {
  font-family: 'FaktPro';
  font-style: normal;
  font-weight: 400;
  src: local('FaktPro-Blond'), url('fonts/FaktPro-Blond.ttf'), local('Helvetica Neue'), local('Helvetica');
}

@font-face {
  font-family: 'FaktPro';
  font-style: normal;
  font-weight: 500;
  src: local('FaktPro-Medium'), url('fonts/FaktPro-Medium.ttf'), local('Helvetica Neue'), local('Helvetica');
}

@font-face {
  font-family: 'FaktPro';
  font-style: normal;
  font-weight: 600;
  src: local('FaktPro-SemiBold'), url('fonts/FaktPro-SemiBold.ttf'), local('Helvetica Neue'), local('Helvetica');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
strong {
  color: #404040;
}
body {
    font-family: 'FaktPro';
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5em;
    color: #737373;
    background-color: white;
    margin: 0;
}
table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}
td,th {
    vertical-align: top;
    border: 1px solid #ddd;
    padding: 10px;
    line-height: 1.5em;
}
th {
    padding: 5px 10px;
}

a {
    color: #0069d6;
    text-decoration: none;
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}
a img {
    border: none;
}
p {
    margin-bottom: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #404040;
    line-height: 36px;
}
h1 {
    font-size: 40px;
    margin-top:30px;
}
h2 {
    font-size: 30px;
    margin-top:30px;
}
h3 {
    font-size: 24px;
    margin-top:30px;
}
h4 {
    font-size: 18px;
    margin-top:20px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top:0;
}

blockquote {
  padding: 13px 13px 21px 15px;
  margin-bottom: 18px;
  font-family:georgia,serif;
  font-style: italic;
  border-left: 5px solid #C7DDDB;
  background-color: #EAF7F6;
}
blockquote p {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 0;
  font-style: italic;
}
blockquote code {
  background-color:white;
}
img {
  max-width:100%;
}
code, pre {
  font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
  color: rgba(0, 0, 0, 0.75);
  background-color: #EAF7F6;
  padding: 1px 3px;
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
pre {
  margin: 0 0 18px;
  line-height: 18px;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre code {
  font-size: 13px;
  background-color: white;
  padding: 0;
  display: block;
  padding: 14px;
}
sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}
* {
  -webkit-print-color-adjust: exact;
}

.link {
  width:18px;
  height:18px;
  display:inline-block;
  vertical-align:sub;
  opacity:0.4;
  background:url(../images/link.png) top left;
  background-size:cover;
}

@media screen and (min-width: 1020px) {
    .container {
        width: 960px;
        margin:auto;
    }
}
@media print {
    body,code,pre code,h1,h2,h3,h4,h5,h6 {
        color: black;
    }
    table, pre {
        page-break-inside: avoid;
    }
}

#header {
  padding-top:40px;
  padding-bottom:20px;
  background-color:#eee;
  margin-bottom:40px;
}
#footer {
  margin-top:50px;
  padding-top:30px;
  padding-bottom:30px;
  background-color:#eee;
  clear:both;
}

#header .logo,
#footer .logo {
  float:left;
  width:50px;
  padding-right: 15px;
}
#header .title,
#footer .title {
  line-height: 22px;
  font-size:20px;
  font-weight:600;
  padding-top:6px;
}
#header .small,
#footer .small {
  font-weight:300;
  font-size:0.9em;
}

#main {
  margin-left:290px;
}

#sidebar {
  float:left;
  position:static;
  width:250px;
}

#sidebar .heading {
  color:#404040;
  line-height:28px;
  font-size:16px;
  font-weight:bold;
}
#sidebar ul .heading {
  line-height:22px;
  font-size:14px;
  padding-top:6px;
}

#sidebar ul {
  margin-top:0;
  padding-left:15px;
}
#sidebar ul li {
  list-style-type:none;
}
#sidebar ul li a {
  color:#404040;
  font-size:14px;
  line-height:1.8em;
}

.page-title {
  font-weight:200;
  font-size:40px;
  color:#404040;
  padding-bottom:40px;
  padding-top:30px;
}
.page-title .extends {
  font-style: italic;
  font-size:0.7em;
  color:#ccc;
}

/* It's not possible to make H3+ in Markdown parsed out of source code, because
 Coffeescript uses the ### as the comment block character. Allow the use of #
 and ##, but convert these h1 and h2 elements to smaller headings. */
.markdown-from-sourecode h1,
.markdown-from-sourecode h2 {
  font-size: 24px;
  margin-top:30px;
}

.article img {
  margin-top:18px;
  margin-bottom:18px;
}

.article .center-logo {
  width:270px;
  height:270px;
  margin:auto;
  margin-top:20px;
  display:block;
  border:0;
}

.function-name {
  border-bottom:1px solid #ccc;
  padding-top:10px;
}
.function-name .arg {
  color: #999;
}
.function-name .arg:after {
  content: ", ";
  color: #999;
}
.function-name .arg:last-child:after {
  content: "";
}
.function-description h1,
.function-description h2,
.function-description h3,
.function-description h4,
.function-description h5 {
  font-size: 16px;
  line-height:1.5em;
  margin:0;
}

table th {
  background-color: #EAF7F6;
  text-align:left;
}
table td {
  position:relative;
}
table.arguments {
  width:100%;
}
table.arguments p {
  margin-bottom:0;
}
table.arguments .optional {
  background-color: #EAF7F6;
  position:absolute;
  top:0px;
  right:0px;
  padding-right: 4px;
  padding-left: 4px;
  font-weight: 500;
  font-size: 11px;
  line-height:16px;
}

table.no-border td {
  border:0;
}
