/**
 * Colors
 */
@taiga-light: darken(#a3acb1, 10%);
@taiga-lighter: #f0f7fa;
@taiga-dark: darken(#727c83, 4%);
@taiga-accent: #5dade1;
@white: #ffffff;

/**
 * Borders
 */
@base-border-radius: 4px;
