<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <style>
        .icon {
            font-size: 120px;
            color: #DDD;
        }
        .content {
            margin-top:50px;
            text-align: center;
            font-size: 18px;
        }
        .content.top {
            margin-top: 100px;
        }
    </style>
</head>
<body>
<div class="content top">
    <span class="glyphicon glyphicon-calendar icon"></span>
</div>
<div class="content">
    Event scheduled! Check your email for the invitation.
</div>
</body>
</html>