html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: @font-family;
  font-size: @font-size;
  -webkit-font-smoothing: antialiased;
}

atom-workspace {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: @font-family;

  atom-workspace-axis.horizontal {
    display: -webkit-flex;
    height: 100%;
  }

  atom-workspace-axis.vertical {
    display: -webkit-flex;
    -webkit-flex: 1;
    -webkit-flex-flow: column;
  }
}

.sheet-container {
  height:100%;
}

.sheet-stack-enter {
  left:100%;
  transition: left .20s ease-out;
}

.sheet-stack-enter.sheet-stack-enter-active {
  left:0;
}

.sheet-stack-leave {
  left:0;
  transition: left .20s ease-in;
}

.sheet-stack-leave.sheet-stack-leave-active {
  left:100%;
}

.toolbar-container {
  background: @toolbar-background-color;
  border-bottom: 1px solid @border-color-divider;

  .toolbar {
    width:  100%;
    height: 50px;
  }
}

.flexbox-handle-horizontal {
  width: 6px;
  top: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
  cursor: col-resize;
  div {
    height:100%;
    border-right: 1px solid @border-color-divider;
  }

  &.flexbox-handle-right {
    right:-3px;
    padding-right:3px;
  }
  &.flexbox-handle-left {
    left:-3px;
    padding-right:2px;
  }
}

.flexbox-handle-vertical {
  width:100%;
  height:6px;
  left:0;
  right:0;
  z-index:2;
  position:absolute;
  cursor: row-resize;
  div {
    width:100%;
    // border-top: 1px solid @border-color-divider;
  }

  &.flexbox-handle-top {
    top:-3px;
    padding-right:3px;
  }
  &.flexbox-handle-bottom {
    bottom: 0px;
    padding-right:2px;
  }
}
