@import "ui-variables";
@import "ui-mixins";

.open-tracking-icon img.content-mask.unopened {
  background-color: #6b777d;
  vertical-align: text-bottom;
}
.open-tracking-icon img.content-mask.opened {
  background-color: @text-color-link;
}
.open-tracking-icon .open-count {
  display: inline-block;
  position: relative;
  left: -16px;
  text-align: center;

  background-color: @text-color-link;
  font-size: 12px;
  font-weight: bold;
}
.open-tracking-icon {
  height: 10px;
  margin: -9px 0 0 4px;
}

.read-receipt-message-status {
  color: @text-color-very-subtle;
  margin-left: 10px;
  cursor: default;
  &.Unread {
    img.content-mask {
      background-color: @text-color-very-subtle;
    }
  }
  &.Read {
    img.content-mask {
      background-color: @text-color-link;
    }
  }
}
