
// UI COLORS
// With this variables you can override the original ui-variables
// •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

	//== Brand colors
	@nylas-yellow:      #D5DC28;
	@nylas-yellow-dark: #A0C23A;
	@nylas-green:       #5CB346;
	@nylas-green-dark:  #078E46;
	@nylas-blue:        #11A1A2;
	@nylas-blue-dark:   #0F7982;
	@nylas-black:       #313435;
	@nylas-gray:        #434648;


	//== Generic colors
	@black:        @nylas-black;
	@white:        #ffffff;
	@gray-base:    #0a0b0c;
	@gray-darker:  lighten( @gray-base, 13.5% ); // #222
	@gray-dark:    lighten( @gray-base, 20% );   // #333
	@gray:         lighten( @gray-base, 33.5% ); // #555
	@gray-light:   lighten( @gray-base, 46.7% ); // #777
	@gray-lighter: lighten( @gray-base, 92.5% ); // #eee
	@blue:         #419bf9;
	@blue-dark:    #3187e1;

	@border-radius-base:        2px;
	@border-radius-large:       4px;
	@border-radius-small:       1px;


// COMPONENTS
// •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
	
	//== Toolbar colors
	@background-primary:       	@white;
	@toolbar-background-color: 	@white;
	
	//== Sidebar
	@panel-background-color:   	@gray-lighter;