body {
  background-image: url(http://news.nationalgeographic.com/content/dam/news/2015/12/13/BookTalk%20K2/01BookTalkK2.jpg);
  background-image: -moz-linear-gradient(top, rgba(232, 244, 250, 0.2), rgba(231, 231, 233, 1)), url(http://news.nationalgeographic.com/content/dam/news/2015/12/13/BookTalk%20K2/01BookTalkK2.jpg);
  background-image: -webkit-linear-gradient(top, rgba(232, 244, 250, 0.2), rgba(231, 231, 233, 1)), url(http://news.nationalgeographic.com/content/dam/news/2015/12/13/BookTalk%20K2/01BookTalkK2.jpg);
  background-size: 100vw auto;
  background-attachment: fixed;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

h2 {
  padding-top: 10px;
  text-align: center;
}

pre {
  margin: 0;
}

.account {
  display: inline-block;
  border-radius: 5px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  margin: 5px;
  vertical-align: top;
}

.account h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.account .section {
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
}

.account.errored {
  color: #a94442;
  border-radius: 4px;
  background-color: rgba(231, 195, 195, 0.6);
}

.account .error pre {
  text-overflow: ellipsis;
  width: inherit;
  overflow: hidden;
}

#set-all-sync {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
}

.action-link {
  display: inline-block;
  color: rgba(16, 83, 161, 0.88);
  text-decoration: underline;
  cursor: pointer;
  margin: 5px 0;
}

.action-link.cancel {
  margin-left: 5px;
}

.sync-policy textarea {
  width: 100%;
  height: 200px;
  white-space: pre;
}

.modal {
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 20px;
  overflow: auto;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 10%;
}

.modal-close {
  position: relative;
  float: right;
  top: -10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.sync-graph {
  margin-top: 3px;
}

.stats b {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 1px;
}

#syncback-request-details {
  font-size: 15px;
  color: black;
}

#syncback-request-details .counts {
  margin: 10px;
}

#syncback-request-details span {
  margin: 10px;
}

#syncback-request-details table {
  width: 100%;
}

#syncback-request-details tr:nth-child(even) {
  background-color: #F1F1F1;
}

#syncback-request-details tr:not(:first-child):hover {
  background-color: #C9C9C9;
}

#syncback-request-details td, #syncback-request-details th {
  text-align: center;
  padding: 10px 5px;
}

.dropdown-arrow {
  margin: 0 5px;
  height: 7px;
  vertical-align: middle;
}

.dropdown-options {
  border: solid black 1px;
  position: absolute;
  background-color: white;
  text-align: left;
}

.dropdown-option {
  padding: 0px 2px;
}

.dropdown-option:hover {
  background-color: rgb(114, 163, 255);
}

.dropdown-selected {
  display: inline;
}

.dropdown-wrapper {
  display: inline;
  cursor: pointer;
  position: absolute;
  font-weight: normal;
}
