body {
  background-image: url(http://news.nationalgeographic.com/content/dam/news/2015/12/13/BookTalk%20K2/01BookTalkK2.jpg);
  background-image: -moz-linear-gradient(top, rgba(232, 244, 250, 0.2), rgba(231, 231, 233, 1)), url(http://news.nationalgeographic.com/content/dam/news/2015/12/13/BookTalk%20K2/01BookTalkK2.jpg);
  background-image: -webkit-linear-gradient(top, rgba(232, 244, 250, 0.2), rgba(231, 231, 233, 1)), url(http://news.nationalgeographic.com/content/dam/news/2015/12/13/BookTalk%20K2/01BookTalkK2.jpg);
  background-size: 100vw auto;
  background-attachment: fixed;
  font-family: Roboto, sans-serif;
  font-size: 11px;
}

h2 {
  padding-top: 10px;
  text-align: center;
}

pre {
  margin: 0;
}

.account {
  position: absolute;
  border-radius: 5px;
  width: 240px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  margin: 5px;
  overflow: hidden;
}

.account h3 {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.account .section {
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
}

.account.errored {
  color: #a94442;
  border-radius: 4px;
  background-color: rgb(231, 195, 195);
}

.error-link {
  font-weight: bold;
}

.error-link:hover {
  cursor: pointer;
  color: #702726;
}

#open-all-sync {
  color: #ffffff;
}

.right-action {
  float: right;
  margin-top: 10px;
}

.action-link {
  color: rgba(16, 83, 161, 0.88);
  text-decoration: underline;
  cursor: pointer;
  margin: 5px 0;
}

.action-link.cancel {
  margin-top: 10px;
}

.sync-policy textarea {
  width: 100%;
  height: 200px;
  white-space: pre;
}

.modal {
  background-color: white;
  width: 50%;
  margin: 10vh auto;
  padding: 20px;
  max-height: calc(80vh - 40px); /* minus padding */
  overflow: auto;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-close-wrapper {
  position: relative;
  height: 0;
  width: 0;
  float: right;
  top: -10px;
}

.modal-close {
  position: absolute;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  background: url('../images/close.png') center center no-repeat;
  background-size: 12px auto;
  height: 12px;
  width: 12px;
  top: 12px;
  right: 12px;
}

.sync-graph {
  margin-top: 3px;
}

.stats b {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 1px;
}

#syncback-request-details {
  font-size: 15px;
  color: black;
}

#syncback-request-details .counts {
  margin: 10px;
}

#syncback-request-details span {
  margin: 10px;
}

#syncback-request-details table {
  width: 100%;
  border: solid black 1px;
  box-shadow: 1px 1px #333333;
  margin: 10px 0;
  border-collapse: collapse;
}

#syncback-request-details tr:nth-child(even) {
  background-color: #F1F1F1;
}

#syncback-request-details tr:not(:first-child):hover {
  background-color: #C9C9C9;
}

#syncback-request-details td, #syncback-request-details th {
  text-align: center;
  padding: 10px 5px;
  border: solid black 1px;
}

.dropdown-arrow {
  margin: 0 5px;
  height: 7px;
  vertical-align: middle;
}

.dropdown-options {
  border: solid black 1px;
  position: absolute;
  background-color: white;
  text-align: left;
  display: inline;
}

.dropdown-option {
  position: relative;
  padding: 0px 2px;
}

.dropdown-option:hover {
  background-color: rgb(114, 163, 255);
}

.dropdown-selected {
  display: inline;
}

.dropdown-wrapper {
  display: inline;
  cursor: pointer;
  font-weight: normal;
}
