body {
  background-image: url(http://news.nationalgeographic.com/content/dam/news/2015/12/13/BookTalk%20K2/01BookTalkK2.jpg);
  background-image: -moz-linear-gradient(top, rgba(232, 244, 250, 0.2), rgba(231, 231, 233, 1)), url(http://news.nationalgeographic.com/content/dam/news/2015/12/13/BookTalk%20K2/01BookTalkK2.jpg);
  background-image: -webkit-linear-gradient(top, rgba(232, 244, 250, 0.2), rgba(231, 231, 233, 1)), url(http://news.nationalgeographic.com/content/dam/news/2015/12/13/BookTalk%20K2/01BookTalkK2.jpg);
  background-size: 100vw auto;
  background-attachment: fixed;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

h2 {
  padding-top: 10px;
  text-align: center;
}

pre {
  margin: 0;
}

.account {
  display: inline-block;
  border-radius: 5px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  margin: 5px;
  vertical-align: top;
}

.account h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.account .section {
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
}

.account.errored {
  color: #a94442;
  border-radius: 4px;
  background-color: rgba(231, 195, 195, 0.6);
}

.account .error pre {
  text-overflow: ellipsis;
  width: inherit;
  overflow: hidden;
}

#set-all-sync {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
}

.action-link {
  display: inline-block;
  margin: 5px;
  color: rgba(16, 83, 161, 0.88);
  text-decoration: underline;
  cursor: pointer;
}

.sync-policy textarea {
  width: 100%;
  height: 200px;
  white-space: pre;
}

.modal {
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 20px;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 10%;
}

.sync-graph {
  margin-top: 3px;
}

.stats b {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 1px;
}
