{% include top.html %}

<body class="wrap">
  {% include header.html %}

  <div class="container container-docs" style="padding-top:80px;">
    <h2 id="doc-title">{{ page.title }}</h2>

    <div id="sidebar">
      {% include sidebar.html %}
    </div>
    <div id="main">
      {{ content }}

    {% if page.edit_url %}
      <h2>Can you help us improve these docs?</h2>
      <p>The source of these docs is <a href="{{ page.edit_url }}">here</a> on GitHub. If you see a way these docs can be improved, please fork us!</p>
    {% endif %}

    </div>
  </div>

  {% include footer.html %}
  {% include analytics.html %}

</body>
</html>
