@import "../internal_packages/composer-markdown/node_modules/simplemde/dist/simplemde.min.css";

.markdown-editor {
  padding-top: 10px;
}
.CodeMirror {
  height: 300px;
}
.CodeMirror-sided {
  display: inline-block;
}
.editor-preview-side.editor-preview-active-side {
  position: static;
  display: inline-block;
  height: 300px;
}
